@model IEnumerable<Application.Furnitures.FurnitureModel>

@{
    ViewData["Title"] = "Furniture admin menu";
}

<h1>Furniture Admin menu</h1>

<div class="col text-center">
   <form>
        <input type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Furniture") + "'");" value="Create new furniture" /> 
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Furniture" ,new { id=item.Id}) |
                @Html.ActionLink("Details", "AdminFurnitureDetails", "Furniture" ,new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", "Furniture" ,new { id=item.Id })
                
            </td>
        </tr>
}
    </tbody>
</table>
</br>
<div>
   <form>
        <input type="button" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("AdminInitialMenu", "User") + "'");" value="Back to previous menu" /> 
    </form>
</div>
