@model IEnumerable<Application.Furnitures.FurnitureModel>

@{
    ViewData["Title"] = "Furniture admin menu";
}

<h1>Furniture Admin menu</h1>

<p>
    <a asp-action="Create" asp-controller="Furniture">Click here to create new furniture</a>
</p>
<p>
    <a asp-action="AdminInitialMenu" asp-controller="User">Back to previous menu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Furniture" ,new { id=item.Id}) |
                @Html.ActionLink("Details", "AdminFurnitureDetails", "Furniture" ,new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", "Furniture" ,new { id=item.Id })
                
            </td>
        </tr>
}
    </tbody>
</table>
