@model IEnumerable<Application.Users.UserModel>

@{
    ViewData["Title"] = "Admin menu - Users";
}

<h1>Welcome to the User Admin Menu</h1>

<p>
    <a asp-action="Create">Click here to create new user</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>

                @if (item.IsAdmin == false)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "User",new { id=item.Firstname})
                    </td>
                }


                <td>
                    @Html.ActionLink("Details", "Details","User", new { id=item.Firstname})

                </td>

                @if (item.IsAdmin == false)
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete","User", new { id=item.Firstname})
                    </td>
                }
            </tr>
        }

        <p>
            <a asp-action="AdminInitialMenu" asp-controller="User">Back to the Admin menu</a>
        </p>
    </tbody>
</table>
