@model IEnumerable<Application.Users.CreateUserModel>

@{
    ViewData["Title"] = "Admin menu - Users";
}

<h1 class="text-center">Welcome to the User Admin Menu</h1>

<div class="col text-center">
    <form>
        <input type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "User") + "'");" value="Create new user" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>

                @if (item.IsAdmin == false)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "User",new { id=item.Id})
                    </td>
                }


                <td>
                    @Html.ActionLink("Details", "Details","User", new { id=item.Id})

                </td>

                @if (item.IsAdmin == false)
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete","User", new { id=item.Id})
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
</br>
<div>
    <form>
        <input type="button" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("AdminInitialMenu", "User") + "'");" value="Back to previous menu" />
    </form>
</div>
